* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    background-color: black;
    color: seashell;
    opacity: 0.9;
    text-align: center;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 69px;
    width: 100%;
    z-index: 5;
    border-bottom: 1px solid seashell;
}
.logo {
    margin-left: 10px;
    height: 50px;
    align-items: center;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    margin-right: 10px;
}
nav ul li {
    display: inline;
    list-style-type: none;
    margin-right: 10px;
}
a {
    text-decoration: underline;
}
.container {
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    top: 71px;
}
.mission {
    background-image: url("../mission-background.jpg");
    background-repeat: no-repeat;
    height: 700px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mission div {
    width: 1200px;
}